:root{
    /*COLORES*/
    --blue: #00a1c9;
    --sure_blue: #88edff;
    --purple: #8e72f3;
    --black: #111111;
    --white: #f7f7f7;
}
html {
    overflow-y: scroll;
    background-color: #e3eaec;
}
/*HEADER*/
.header-menu ul { 
    display: inline-flex;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    font-weight: 300;
    list-style: none;
    float: right; 
    min-width: 320px;
    max-width: 1008px;

}
.header-menu ul a {
    font-weight: bold;
    text-decoration: none;
    color: var(--blue);
    margin:25px;
}
/*MAIN*/
main .content-principal {
    margin: 0 0 0 100px;    
}
main .content--presentation {
    color: var(--black);
    min-width: 320px;
    max-width: 1008px;
}
.content--presentation h1 {
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 3.5rem;
    float: left;  
    margin-top: 20%;
    height: 30px;
}
.content--presentation p {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    float: left;
    width: 75%;
}
.content-principal img {
    position: absolute;
    top: 130px;
    right: 150px;
    width: 250px;
    border-radius: 50px;
    box-shadow: 4px 4px 15px 0 #81ffff,
                -4px -4px 15px 0 #81ffff;
}
.content--presentation input {
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    font-size: 16px;
    top: 450px;
    left: 300px;
    font-size: 20px;
    cursor: pointer;
}
main .content-secundary {
    
}